<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Guess Game</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/normalize/7.0.0/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>Word Guessing Game</h1>


      <div class="letter-blanks-container">
        <div class="letter-unguessed">
          A
        </div>
        <div class="letter-unguessed">
          B
        </div>
        <div class="letter-unguessed">
          C
        </div>
        <div class="letter-unguessed">
          D
        </div>
      </div>

    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
