<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Guess Game</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/normalize/7.0.0/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>Word Guessing Game</h1>

      {{#validationErrors}}
        <p class='error'>{{param}}, {{msg}}, {{value}}</p>
      {{/validationErrors}}

      {{#stateInProgress}}
        <div class="category-container">
          Category: {{category}}
        </div>

        <div class="guesses-remaining-container">
          Guesses Remaining: {{guessesRemaining}}
        </div>

        <div class="letter-blanks-container">
          {{#wordAsList}}
            {{#guessed}}
            <div class="letter-guessed">
              {{letter}}
            </div>
            {{/guessed}}

            {{^guessed}}
            <div class="letter-unguessed">
              {{letter}}
            </div>
            {{/guessed}}
          {{/wordAsList}}
        </div>

        <div class="letter-submit-form">
          <form class="" action="/" method="post">
            <label for="letter"></label><input type="text" name="letter" value="">
            <input type="submit" name="letter-guess" value="Guess">
          </form>
        </div>
      {{/stateInProgress}}

      {{#stateWon}}
          <h1>You Won!</h1>
      {{/stateWon}}

      {{#stateLost}}
          <h1>You Lost!</h1>
          <p>Do you want to play again?</p>
      {{/stateLost}}

    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
