<div class="container">

    <h1>You Won!</h1>
    <p><a href='http://localhost:3000/highscores'>High Scores</a></p>
    <p><a href='http://localhost:3000/again'>Play Again?</a></p>


    <form class="" action="/sendtweet" method="post">
      <div class="form-group">
        <label for="tweet-text">Status:</label>
        <input type="text" name="tweet" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Tweet</button>
    </form>

</div>
